{{ define "content" }}
{{ $root := .Root }}
<h1 class="text-center">{{ .Title }}</h1>

<div id="divText">
</div>

<input type="text" id="iSelectedText">

<form id="newNoteForm" method="POST" action="/note/create" style="display: none;" autocomplete="off">
  <hr>
  <h3>New Note</h3>
  <div class="mb-2">
    <textarea class="form-control" id="taNewNote" name="note" rows="3"></textarea>
  </div>
  <div class="row mb-3">
    <div class="col">
      <input type="text" class="form-control dropdown-toggle" data-bs-toggle="dropdown" id="iLemma" placeholder="lemma"
        name="lemma">
      <div class="dropdown-menu p-0 m-0" id="divLemmaDropdown">
        <div class="input-group p-0 m-0">
          <select class="form-select" id="lemmaSelect" name="lemma">
          </select>
          <button class="btn btn-outline-secondary" type="button" id="btnConfirmLemma">OK</button>
        </div>
      </div>
    </div>
    <div class="col">
      <input type="text" class="form-control dropdown-toggle" data-bs-toggle="dropdown" placeholder="comment" id="iComment" name="comment">
      <div class="dropdown-menu p-0 m-0" id="divCommentDropdown">
        <div class="input-group p-0 m-0">
          <select class="form-select" id="commentSelect" name="comment">
          </select>
          <button class="btn btn-outline-secondary" type="button" id="btnConfirmComment">OK</button>
        </div>
      </div>
    </div>
    <div class="col input-group d-flex justify-content-end">
      <select class="form-select" id="entryCaseSelect">
        <option selected value="0">Original</option>
        <option value="1">Lower</option>
        <option value="2">Title</option>
        <option value="3">Upper</option>
      </select>
      <button class="btn btn-primary" id="btnSubmitNewNote">Submit</button>
    </div>

  </div>
</form>


<div id="divEditNote" style="display: none;">
  <hr>
  <h3 id="editNoteTitle"></h3>
  <form id="editNoteForm">
    <div class="mb-2">
      <textarea name="note" id="taEditNote" class="form-control">
  </textarea>
    </div>
    <div class="d-flex">
      <button type="button" id="btnRemoveNote" class="ms-auto btn btn-danger">Remove</button>
    <button style="display: none;" id="btnSaveChange" class="ms-2 btn btn-primary">Save Change</button>
  </div>
  </form>
</div>


<div id="divNotes" style="display: none;">
  <hr>
  <div class="mb-3">
    <button id="btnNewNote" class="btn btn-primary float-end">New</button>
    <h3>Notes</h3>
  </div>
  <div class="list-group" id="noteList">

  </div>
</div>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasLeftLabel">Advanced Features</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <form class="mb-3" action="/text/change-title" method="POST">
      <div class="input-group">
        <label class="input-group-text" for="iTitle">Title</label>
        <input class="form-control" name="title" id="iTitle">
        <button class="btn btn-outline-primary" type="submit">Change</button>
      </div>
      <input type="hidden" name="id" value={{ .Id }}>
    </form>
    <form class="mb-3" action="/text/add-paragraph" method="POST">
      <div class="mb-2">
        <label class="form-label" for="s">Add Paragraphs</label>
        <textarea class="form-control" name="s"></textarea>
      </div>
      <input type="hidden" name="textId" value={{ .Id }}>
      <input type="hidden" name="rootId" value={{ .RootId }}>
      <div class="d-flex justify-content-end">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </form>
    <form action="/text/delete-paragraph" method="POST">
      <div class="input-group">
        <label class="input-group-text" for="selectParagraghId">Paragraph</label>
        <select class="form-select" id="selectParagraghId" name="paragraphId">
          {{ range $root.Children }}
          <option value={{ .Id }}>{{ .Id }}</option>
          {{ end }}
        </select>
        <button class="btn btn-outline-danger" type="submit">Delete</button>
      </div>
    </form>
    <hr>
    <div class="d-flex justify-content-end">  
      <button class="btn btn-danger" id="btnDeleteText" type="button">Delete</button>
    </div>
  </div>
</div>




{{ template "dependencies" . }}

{{ template "scripts" . }}

{{ end }}


{{ define "scripts" }}

<script src="/static/js/model.js"></script>
<script>
  window.Leglog.nodes = {};
  window.Leglog.text = new Text({{ .Id }}, {{ .CreationTimestamp }}, {{ .Language }}, {{ .Title }});
  {{ with $root := .Root }}
  {{ noescape $root.Js }}
  window.Leglog.text.root = window.Leglog.nodes[{{ printf "%d" $root.Id | noescape }}];
  {{ end }}
</script>
<script src="/static/js/read.js"></script>

{{ end }}