{{ define "content" }}

{{ $texts := index . "Texts" }}
{{ $page := index . "Page" }}
{{ $prevPage := index . "PrevPage" }}
{{ $nextPage := index . "NextPage" }}
{{ $lastPage := index . "LastPage" }}

<div class="list-group mb-3">
{{ range $texts }}
    <a href={{ printf "/read/%d" .Id }} class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ .Title }}</h5>
        <small>{{ .CreationTime "2006/01/02 15:04" }}</small>
      </div>
      <p class="mb-1">{{ .Excerpt 200 }}</p>
    </a>
{{ end }}
</div>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {{ if gt $prevPage 0}}
        <li class="page-item">
        {{ else }}
        <li class="page-item disabled">
        {{ end }}
        <a class="page-link" href="/text/?page={{ $prevPage }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item {{ if eq $page 1}}{{ print `disabled` }}{{ end }}"><a class="page-link" href="/text/?page=1">1</a></li>
      {{ if gt $lastPage 1}}
      <li class="page-item {{ if eq $page $lastPage}}{{ print `disabled` }}{{ end }}"><a class="page-link" href="/text/?page={{ $lastPage }}">{{ $lastPage }}</a></li>
      {{ end }}
      {{ if gt $nextPage 0}}
      <li class="page-item">
      {{ else }}
      <li class="page-item disabled">
      {{ end }}
        <a class="page-link" href="/text/?page={{ $nextPage }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
{{ end }}

{{ define "scripts" }}

{{ end }}